body {
    header{
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // border: 1px red solid;
        section.logo{
            // border: 5px solid green;
            display: flex;
            flex: 1 1 400px;
            align-items: center;
            h1{
                font-size: 1.3rem;
            }
            img{
                width:6vw;
                height:6vw;
            }
        }
        nav{
            flex:5 1 400px;
            // border: 2px solid orange;
            ul{
                display: flex;
                list-style-type: none;
                justify-content: space-around;
                li{
                    a{
                       color: black;
                       text-decoration: none;
                       font-size: 1rem;
                       transition: all 0.2s ease;
                       padding-bottom: 0.3rem;
                       &:hover {
                        color:$themeColor;
                        border-bottom: 3px solid $themeColor;
                       }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    body {
        header{
        section.logo{
           flex-direction: column;
           img {
            width: 50vw;
            height: 50vw;
           }
        }
        nav{
            ul{
                flex-direction: column;
                li{
                    padding: 0.5rem 0.25rem;
                }
            }
        }
       }
   }
}
