$themeColor: rgba(152, 57, 255, 0.5);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;

    img.fixed-image{
        min-height: 100vh;
        position: fixed;
        width: 100%;
        z-index:-100;
        bottom: 0;
        left: 0;
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: normal;
    }
}
@import "./header";
@import "./home";
@import "./footer";

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $themeColor; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(128,18,107); 
  }

